[Desktop Entry]
Version=1.0
Name=
GenericName=
Comment=
Exec=
Icon=
Terminal=false
Type=Application
MimeType=
StartupNotify=true
Categories=
X-Desktop-File-Install-Version=0.23
